<div class="fb-left">
  <ul class="fb-tabs">
    <li class="{{if isEditFormTag 'active'}}"><a {{action 'toggleTag' 'editForm'}}>Edit form</a></li>
    <li class="{{if isAddNewFieldTag 'active'}}"><a {{action 'toggleTag' 'addNewField'}}>Add new field</a></li>
    <li class="{{if isEditFieldTag 'active'}}"><a {{action 'toggleTag' 'editField'}}>Edit field</a></li>
  </ul>
  <div class="fb-tab-content">
    <div class="fb-tab-pane {{if isEditFormTag 'active'}}">
      <div class="form-group">
        {{input class="form-control" value=model.name}}
      </div>
      <div class="form-group">
        {{textarea class="form-control" value=model.description}}
      </div>
    </div>

    <div class="fb-tab-pane {{if isAddNewFieldTag 'active'}}">
      <div class="fb-add-field-types">
        <div class="section">
          <a role="button" class="btn btn-default" {{action 'addField' 'text'}}><i class="fa fa-font"></i> Text</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'paragraph'}}>¶ Paragraph</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'single-choice'}}><i class="fa fa-square-o"></i> Single Choice</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'multiple-choice'}}><i class="fa fa-circle-o"></i> Multiple Choice</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'date'}}><i class="fa fa-calendar"></i> Date</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'time'}}><i class="fa fa-clock-o"></i> Time</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'number'}}>123 Number</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'price'}}><i class="fa fa-money"></i> Price</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'email'}}><i class="fa fa-envelope-o"></i> Email</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'link'}}><i class="fa fa-link"></i> Link</a>
        </div>
        <div class="section">
          <a role="button" class="btn btn-primary" {{action 'addField' 'section'}}><i class="fa fa-minus"></i> Section</a>
        </div>
      </div>
    </div>

    <div class="fb-tab-pane {{if isEditFieldTag 'active'}}">
      {{#if field}}
        {{form-field-editor model=field targetObject=this}}
      {{/if}}
    </div>

  </div>
</div>

<div class="fb-right">
  <div class="fb-no-response-fields hidden">No response fields</div>
  {{#each model.fields as |field|}}
    {{form-field-display model=field targetObject=this}}
  {{/each}}
</div>

<div class="fb-clear"></div>
