<div class="subtemplate-wrapper">
  <div class="cover" {{action 'select' model target=targetObject}}></div>
  <div class="title">{{title}} {{#if model.required}}<abbr title="required">*</abbr>{{/if}}</div>
  {{#if isText}}
    {{input value=model.defaultValue}}
  {{else if isParagraph}}
    {{textarea value=model.defaultValue}}
  {{else if isLink}}
    {{input placeholder="http://"}}
  {{else if isEmail}}
    {{input type="email" placeholder=(form-t 'field.email')}}
  {{else if isNumber}}
    {{input placeholder=(form-t 'field.number')}}
  {{else if isPrice}}
    <div class="input-group">
      <div class="input-group-addon"><i class="{{currencyIcon}}"></i></div>
      {{input type="text" class="form-control"}}
    </div>
  {{else if isSingleChoice}}
    {{#each model.options as |option|}}
      <div class="form-group-sm">
        <input type="radio" checked={{option.checked}}> {{option.label}}
      </div>
    {{/each}}
  {{else if isMultipleChoice}}
    {{#each model.options as |option|}}
      <div class="form-group-sm">
        <input type="checkbox" checked={{option.checked}}> {{option.label}}
      </div>
    {{/each}}
  {{else if isDate}}
    {{input type="text" placeholder=(form-t 'field.date') value=model.defaultValue}}
  {{else if isTime}}
    {{input type="text" placeholder=(form-t 'field.time') value=model.defaultValue}}
  {{/if}}
  <div class="actions-wrapper">
    <i role="button" class="fa fa-minus-circle del" {{action 'delete' model target=targetObject}}></i>
  </div>
</div>
