<div class="subtemplate-wrapper">
  <div class="cover" {{action 'select' model target=targetObject}}></div>
  <div class="title">{{title}} {{#if model.required}}<abbr title="required">*</abbr>{{/if}}</div>
  {{#if isText}}
    {{input value=model.defaultValue}}
  {{else if isParagraph}}
    {{textarea value=model.defaultValue}}
  {{else if isLink}}
    {{input type="url" placeholder="http://"}}
  {{else if isEmail}}
    {{input type="email"}}
  {{else if isNumber}}
    {{input type="number"}}
  {{else if isPrice}}
    {{input type="number"}}
  {{/if}}
  <div class="actions-wrapper">
    <i role="button" class="fa fa-minus-circle" {{action 'delete' model target=targetObject}}></i>
  </div>
</div>
