<div class="form-builder-left">
  <ul class="form-builder-tabs">
    <li class="{{if isEditFormTag 'active'}}"><a {{action 'toggleTag' 'editForm'}}>Edit form</a></li>
    <li class="{{if isAddNewFieldTag 'active'}}"><a {{action 'toggleTag' 'addNewField'}}>Add new field</a></li>
    <li class="{{if isEditFieldTag 'active'}}"><a {{action 'toggleTag' 'editField'}}>Edit field</a></li>
  </ul>
  <div class="form-builder-tab-content">
    <div class="form-builder-tab-pane {{if isEditFormTag 'active'}}">
      <div class="form-group">
        {{input class="form-control" value=model.name}}
      </div>
      <div class="form-group">
        {{textarea class="form-control" value=model.description}}
      </div>
    </div>

    <div class="form-builder-tab-pane {{if isAddNewFieldTag 'active'}}">
      <div class="form-builder-add-field-types">
        <div class="section">
          <a role="button" class="btn btn-default" {{action 'addField' 'text'}}><i class="fa fa-font"></i> Text</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'paragraph'}}>¶ Paragraph</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'single-choice'}}><i class="fa fa-square-o"></i> Single Choice</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'multiple-choice'}}><i class="fa fa-circle-o"></i> Multiple Choice</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'date'}}><i class="fa fa-calendar"></i> Date</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'time'}}><i class="fa fa-clock-o"></i> Time</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'number'}}>123 Number</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'price'}}><i class="fa fa-money"></i> Price</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'email'}}><i class="fa fa-envelope-o"></i> Email</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'link'}}><i class="fa fa-link"></i> Link</a>
          <a role="button" class="btn btn-default" {{action 'addField' 'label'}}><i class="fa fa-tag"></i> Label</a>
        </div>
        <div class="section">
          {{#unless field.isSection}}
            <a role="button" class="btn btn-primary" {{action 'addField' 'section'}}><i class="fa fa-minus"></i> Section</a>
          {{/unless}}
        </div>
      </div>
    </div>

    <div class="form-builder-tab-pane {{if isEditFieldTag 'active'}}">
      {{#if field}}
        {{form-field-editor model=field targetObject=this}}
      {{/if}}
    </div>

  </div>
</div>

<div class="form-builder-right form-field-collection">
  {{#if sortPreview}}
    {{#sortable-group onChange="reorderItems" as |group|}}
      {{#each model.fields as |field|}}
        {{#sortable-item model=field group=group handle=".form-builder-field-wrapper"}}
          {{#if field.isSection}}
            {{form-field-display-section model=field targetObject=this}}
          {{else}}
            {{form-field-display model=field targetObject=this}}
          {{/if}}
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}
  {{else}}
    {{#each model.fields as |field|}}
      {{#if field.isSection}}
        {{form-field-display-section model=field targetObject=this}}
      {{else}}
        {{form-field-display model=field targetObject=this}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>

<div class="form-builder-clear"></div>

<div class="form-builder-main-top-bar">
  <div class="form-control">
    <label>{{input type="checkbox" checked=sortPreview}} Sort Preview</label>
  </div>
</div>
