<div class="fb-left">
  <ul class="fb-tabs">
    <li class="{{if isEditFormTag 'active'}}"><a {{action 'toogleTag' 'editForm'}}>Edit form</a></li>
    <li class="{{if isAddNewFieldTag 'active'}}"><a {{action 'toogleTag' 'addNewField'}}>Add new field</a></li>
    <li class="{{if isEditFieldTag 'active'}}"><a {{action 'toogleTag' 'editField'}}>Edit field</a></li>
  </ul>
  <div class="fb-tab-content">
    <div class="fb-tab-pane {{if isEditFormTag 'active'}}">

    </div>

    <div class="fb-tab-pane {{if isAddNewFieldTag 'active'}}">
      <div class="fb-add-field-types">
        <div class="section">
          <a {{action 'addField' 'text'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-font"></span></span> Text
          </a>
          <a {{action 'addField' 'paragraph'}} class="fb-button ui-draggable">
            <span class="symbol">¶</span> Paragraph
          </a>
          <a {{action 'addField' 'checkbox'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-square-o"></span></span> Checkboxes
          </a>
          <a {{action 'addField' 'radio'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-circle-o"></span></span> Multiple Choice
          </a>
          <a {{action 'addField' 'date'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-calendar"></span></span> Date
          </a>
          <a {{action 'addField' 'dropdown'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-caret-down"></span></span> Dropdown
          </a>
          <a {{action 'addField' 'time'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-clock-o"></span></span> Time
          </a>
          <a {{action 'addField' 'number'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-number">123</span></span> Number
          </a>
          <a {{action 'addField' 'website'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-link"></span></span> Website
          </a>
          <a {{action 'addField' 'email'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-envelope-o"></span></span> Email
          </a>
          <a {{action 'addField' 'price'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-usd"></span></span> Price
          </a>
          <a {{action 'addField' 'address'}} class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-home"></span></span> Address
          </a>
        </div>
        <div class="section">
          <a data-field-type="section_break" class="fb-button ui-draggable">
            <span class="symbol"><span class="fa fa-minus"></span></span> Section Break
          </a>
        </div>
      </div>
    </div>

    <div class="fb-tab-pane {{if isEditFieldTag 'active'}}">
      <div class="fb-edit-field-wrapper"></div>
    </div>

  </div>
</div>

<div class="fb-right">

</div>

<div class="fb-clear"></div>
