<div class="fb-field-label">
  <code class="field-name">{{model.name}}</code>
  <code class="field-type">{{model.type}}</code>
</div>

<div class="fb-edit-section-header">Label</div>
<div class="form-group">
  {{input class="form-control" value=model.title placeholder='Title'}}
</div>
<div class="form-group">
  {{textarea class="form-control" value=model.description placeholder='Description'}}
</div>
{{#unless isSection}}
  <div class="form-group">
    {{input id="fb-required" type="checkbox" checked=model.required}} <label for="fb-required">Required</label>
  </div>
  <div class="form-group">
    {{input id="fb-wholeLine" type="checkbox" checked=model.wholeLine}} <label for="fb-wholeLine">Whole line</label>
  </div>
{{/unless}}

{{#if isText}}
  <div class="fb-edit-section-header">Default Value</div>
  <div class="form-group">
    {{input class="form-control" value=model.defaultValue}}
  </div>
{{else if isParagraph}}
  <div class="fb-edit-section-header">Default Value</div>
  <div class="form-group">
    {{textarea class="form-control" value=model.defaultValue}}
  </div>
{{else if isPrice}}
  <div class="fb-edit-section-header">Currency</div>
  <div class="form-group">
    {{fb-currency-select class="form-control" model=currencies selected=model.selectedCurrency}}
  </div>
{{else if isSingleChoice}}
  <div class="fb-edit-section-header">Options</div>
  <div class="form-group">
    {{fb-single-choice model=model.options}}
  </div>
{{else if isMultipleChoice}}
  <div class="fb-edit-section-header">Options</div>
  <div class="form-group">
    {{fb-multiple-choice model=model.options}}
  </div>
{{else if isDate}}
  <div class="fb-edit-section-header">Default Value</div>
  <div class="form-group">
    {{date-picker model=model.defaultValue buttonClass="btn btn-success" format="yyyy-mm-dd"}}
  </div>
{{else if isTime}}
  <div class="fb-edit-section-header">Default Value</div>
  <div class="form-group">
    {{time-picker model=model.defaultValue class="form-control"}}
  </div>
{{/if}}
